{% liquid
    comment
        The following code displays the official Shopify's rating badge (stars).
        If you are using a different app for the reviews you may change the code
        below with the one provided by your app.
    endcomment
%}
<div class="shopify-product-reviews-badge" data-id="{{ product.id }}"></div>