ul#HeaderMenu-MenuList-notif {
  margin-top: 2.4rem;
}

.notification_popup {
  right: 0;
  min-width: 20em !important;
  width: unset !important;
  padding: 0 !important;
  max-height: 22em;
  overflow-y: scroll;
}

.notification_a_tag {
  width: max-content;
  padding: 1rem !important;
  border-bottom: 1px solid #f4f4f4;
}

.header__icon--notif .header__submenu .header__menu-item {
  margin: 0 !important;
}

.bubble_notif {
  top: 3px;
  left: 15px !important;
  width: 8px;
  height: 8px;
}

.sommaire_notif {
  display: flex;
  padding: 0;
}

/* Fireweb */
/*.notification_a_tag:hover {
  background: #f4f4f4;
}*/

.notification_image {
  width: 100%;
  max-width: 70px;
}

.notification_text {
  width: 12em;
  padding-left: 20px;
}

.offnotif {
  display: none;
}

@media screen and (max-width: 747px) {
  .header__icon--notif {
    width: 30px;
  }

  .offnotif {
    display: block;
  }

  .offnotifmobile {
    display: none;
  }
}
