#before-image img {
  width:100%;
  display:block;
  max-width: unset;
}

#after-image img {
  width:100%;
  display:block;
  max-width: unset;
}

.container-before-after {
  display:block;
}

#before-after-slider {
  width:100%;
  position:relative;
  overflow:hidden;
}

#after-image {
  display:block
}

#before-image {
  position:absolute;
  height:100%;
  width:50%;
  top:0;
  left:0;
  overflow:hidden;
  z-index:1;
}

#resizer {
  position:absolute;
  display:flex;
  align-items:center;
  z-index:1;
  top:0;
  left:50%;
  height:100%;
  width:3px;
  /*Stop vertical scrolling on touch*/
  -ms-touch-action: pan-y;
    touch-action: pan-y;
}

#resizer:after {
  content: "";
  position: absolute;
  width: 28px;
  height: 35px;
  /*border-right: 3px solid white;*/
  /*border-left: 3px solid white;*/
  display: inline-block;
  /*border-top: 3px solid white;*/
  /*border-bottom: 3px solid white;*/
  /*transform: rotate(45deg);*/
  right: -11px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' role='presentation' focusable='false' class='icon icon-drag-handle' viewBox='0 0 32 40'%3E%3Cpath d='M0 16C0 7.16344 7.16344 0 16 0C24.8366 0 32 7.16344 32 16V24C32 32.8366 24.8366 40 16 40C7.16344 40 0 32.8366 0 24V16Z' fill='%23FFF'%3E%3C/path%3E%3Cpath fill='%23000000' d='M11 14H13V26H11zM15 14H17V26H15zM19 14H21V26H19z'%3E%3C/path%3E%3C/svg%3E");
}

/* Fireweb */
.before-after__label {
  position: absolute;
}

#before-image .before-after__label--left {
  font-size: 2.2rem;
  line-height: 1.4;
  font-weight: 700;
  color: #ffffff;
  bottom: 3rem;
  left: 2.5rem;
}
#after-image .before-after__label--right {
  font-size: 2.2rem;
  line-height: 1.4;
  font-weight: 700;
  color: #ffffff;
  bottom: 3rem;
  right: 2.5rem;
}

@media screen and (max-width: 749px) {
  #before-image .before-after__label--left {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 749px) {
  #after-image .before-after__label--right {
    font-size: 1.6rem;
  }
}

