.sliding-text-container {
  width: 100%;
  font-weight: 700;
  position: relative;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}

.sliding-text-container .title {
  margin: 0;
}

.sliding-text-container .title.bordered-text {
  -webkit-text-fill-color: rgb(var(--color-background));
  -webkit-text-stroke-color: rgb(var(--color-foreground));
  -webkit-text-stroke-width: 1px;
}

@media (prefers-reduced-motion: reduce) {
  .motion-reduce\:hidden {
    display: none;
  }

  .motion-reduce\:block {
    display: block;
  }
}

/* Special Effects Scrolling slidingProduct Fireweb */

@-webkit-keyframes slidingProduct {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
    100% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%)
    }
}

@keyframes slidingProduct {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
    100% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%)
    }
}

.slidingProduct {
    -webkit-animation-name: slidingProduct;
    animation-name: slidingProduct
}

