 /*
    General styles
*/

.text-nowrap {
    white-space: nowrap;
}

.text-sm {
    font-size: .8em;
}

.text-lg {
    font-size: 1.2em;
}

.fw-bold {
    font-weight: bold;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-capitalize {
    text-transform: capitalize;
}



height-observer {
    display: block;
}
a {
    color: inherit;
    text-decoration: inherit;
}
p {
    margin: 0;
}
.text-xs {
    font-size: 1.0rem;
    line-height: 1.7;
}
.text-base {
    font-size: 1.2rem;
    line-height: 1.6;
}
.text-lg {
    font-size: 1.45rem;
    line-height: 1.6;
}
.bold {
    font-weight: 700;
}

.shape--sm {
    --size: 0.5rem;
}
.shape-circle {
    border-radius: 50%;
}
.shape-circle, .shape-square, .shape-diamond {
    --size: 0.375rem;
    width: 0.5rem;
    height: 0.5rem;
    background: currentColor;
    display: block;
}

/* Modification Fireweb */
.shopify-section--announcement-bar {
  z-index: 4;
}

.announcement-bar {
  padding-block-start: 0.875rem;
  padding-block-end: 0.875rem;
}

.announcement-bar__wrapper {
  gap: 1.25rem;
  max-width: 450px;
  margin-inline-start: auto;
  margin-inline-end: auto;
  display: flex;
  justify-content: center;
}

.announcement-bar__scrolling-list {
  grid: auto / auto-flow max-content;
  justify-content: center;
  display: grid;
  overflow: hidden;
}

.announcement-bar__static-list {
  text-align: center;
  place-items: center;
  display: grid;
}

.announcement-bar__static-list svg {
   vertical-align: middle;
}

.announcement-bar__static-list > * {
  grid-area: 1 / -1;
}

.announcement-bar__item {
  grid: auto / auto-flow auto 5rem;
  place-items: center;
  display: grid;
}

@media screen and (min-width: 700px) {
  .announcement-bar {
    padding-block-start: 1.125rem;
    padding-block-end: 1.125rem;
  }

  .announcement-bar__item {
    grid-auto-columns: auto 10rem;
  }
}

/* Special Effects Scrolling slidingBA (barre d'annonce) Fireweb */

@-webkit-keyframes slidingBA {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
    100% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%)
    }
}

@keyframes slidingBA {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
    100% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%)
    }
}

.slidingProduct {
    -webkit-animation-name: slidingBA;
    animation-name: slidingBA
}
